{% extends "general/templates/general/base.html" %}
{% block content %}
<main>
    <form><select name="series-sorting" id="series-sorting" onchange="this.form.submit()">
        {% if current_user.names_preference != 1 %}
        <option value="alpha">Alphabetized</option>
        {% endif %}
        <option value="total-avg-score">Average Score (Total)</option>
        <option value="main-avg-score">Average Score (Main)</option>
    </select></form>
    <ul>Series list:
    {% for series_name in series_names %}
        <li><a href="/series/{{ series_ids[loop.index0] }}">{{ series_name }}</a></li>
    {% endfor %}
    </ul>
</main>
{% endblock %}