<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    <title>Anime Displayinator 9001 Beta</title>
</head>
<body>
    <div id="wrapper">
        <h1>Anime Data Program</h1>
        <nav>
            <ul>
                <li><a href="/display">Display Page</a></li>
                <li><a href="/options">Select Options</a></li>
                <li><a href="/">Display All</a></li>
                <li><a href="/edit">Edit Show Data</a></li>
                <li><a href="/warnings">Edit Warnings</a></li>
            </ul>
        </nav>
        <main>
            <aside id="options">
                <form action=""><select name="options_list" onchange="this.form.submit()" size="38" style="width: 20em; margin: .75em">
                    {% for show in chosen %}
                    <option value="{{show['id']}}">{{show['defaultTitle']}}</option>
                {% endfor %}
                </select></form>
            </aside>
            <h2>{{title}}</h2>
            <div id="seasonal">
                <img src={{image}} alt="Cover image for current show" style="float: left"><br>
                <h3>Episodes: {{episodes}}</h3> <br>
                <h3>Seasons: {{seasons}}</h3> <br>
                <h3>Movies: {{movies}}</h3> <br>
                <h3>Unaired: {{unaired}}</h3></div>
            <div id="synopsis"><h3>Synopsis</h3><br><br><p>{{synopsis}}</p></div><br>
            <div id="scoring">Public score: {{public}}, Household score: {{private}}<br><img src="{{url_for('static', filename='graph.png')}}" alt="Sorry, still broken"></div>
            <div id="tags"><h3>Genres:</h3> <br><br> <h3>Tags:</h3> <br><br> <h3>Content Warnings:</h3> <br><br> <h3><input type="checkbox">Spoiler Tags:</input></h3></div><br>
            <div id="streaming">
                <div class="service"><h4 style="color: {{stream_colors['crunchyroll'][0]}}">Crunchyroll</h4>Seasons: 0<br><br>Movies:0</div>
                <div class="service"><h4 style="color: {{stream_colors['funimation'][0]}}">Funimation</h4>Seasons: 0<br><br>Movies:0</div>
                <div class="service"><h4 style="color: {{stream_colors['hidive'][0]}}">Hidive</h4>Seasons: 0<br><br>Movies:0</div>
                <div class="service"><h4 style="color: {{stream_colors['vrv'][0]}}">VRV</h4>Seasons: 0<br><br>Movies:0</div>
                <div class="service"><h4 style="color: {{stream_colors['hulu'][0]}}">Hulu</h4>Seasons: 0<br><br>Movies:0</div>
                <br>
                <div class="service"><h4 style="color: {{stream_colors['amazon'][0]}}">Amazon Prime</h4>Seasons: 0<br><br>Movies:0</div>
                <div class="service"><h4 style="color: {{stream_colors['youtube'][0]}}">YouTube</h4>Seasons: 0<br><br>Movies:0</div>
                <div class="service"><h4 style="color: {{stream_colors['prison'][0]}}">Netflix Prison</h4>Seasons: 0<br><br>Movies:0</div>
                <div class="service"><h4 style="color: {{stream_colors['amazon'][0]}}">HBO Max</h4>Seasons: 0<br><br>Movies:0</div>
                <div class="service"><h4 style="color: {{stream_colors['tubi'][0]}}">Tubi TV</h4>Seasons: 0<br><br>Movies:0</div>
            </div>
            <br style="clear: both;">
        </main>
    </div>
</body>
</html>