#wrapper
	{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		background-color: #FFFFFF;
		min-width: 960px;
		max-width: 2048px;
		box-shadow: 3px 3px 3px #2E0000;
	}

#options
    {
        float: left;
        height: 55em;
        border-style: solid;
    }

# options select
    {
        width: 20em;
        margin: .75em;
    }

#seasonal
    {
        width: 39.25em;
        height: 21.6em;
        margin: 1em;
        padding: .25em;
        border-style: solid;
        display: inline-block;
        float: left;
    }

#synopsis
    {
        width: 39.25em;
        height: 21.6em;
        margin: 1em;
        padding: .25em;
        border-style: solid;
        display: inline-block;
        float: left;
    }

#scoring
    {
        width: 39.25em;
        height: 26.5em;
        margin: 1em;
        padding: .25em;
        border-style: solid;
        display: inline-block;
        float: left;
        text-align: center;
    }

#tags
    {
        width: 39.25em;
        height: 26.5em;
        margin: 1em;
        padding: .25em;
        border-style: solid;
        display: inline-block;
    }

#streaming
    {
        border-style: solid;
        float: right;
        margin: .75em;
        padding: .25em;
        width: 81em;
        text-align: center;
    }

.service
    {
        border-style: solid;
        display: inline-block;
        text-align: center;
        width: 9.75em;
        height: 6em;
        padding: .5em;
        margin: .2em;
    }

nav ul
    {
        font-weight: bold;
		list-style-type: none;
		margin: 5px;
  	    font-size: 1.25em;
    }

nav li
	{
		display: inline;
		padding-right: 10px;
	}

nav a
    {
        text-decoration: none;
    }

h1
	{
		text-align: center;
		font-size: 3.5em;
		font-family: Georgia, Times New Roman, serif;
		height: auto;
		padding-bottom: 5px;
		margin: 0;
	}

h2
	{
		text-align: center;
		font-size: 2em;
	}

h3
    {
        text-align: center;
    }

h4
    {
        margin-top: .2em;
    }