{% extends "general/templates/general/base.html" %}
{% block content %}
<main>
    <p>
    <h2>v0.1.0</h2>
    <h3>Thursday, May 12 2022</h3>
    <ul id="update-logger">
        <li class="addition">Added update tracker</li>
        <li class="addition">Added users list page</li>
        <li class="redesign">Altered show page layout</li>
        <li class="redesign">Cleaned up show generation code</li>
        <li class="admin">Removed two unused admin pages</li>
    </ul>
    </p>
</main>
{% endblock %}