{% extends "general/templates/general/base.html" %}
{% block content %}
<main>
    <p>
    <h2>v0.3.0</h2>
    <h3>Tuesday, May 17 2022</h3>
    <ul id="update-logger">
        <li class="addition">Series page now displays episode and content count</li>
        <li class="redesign">Altered code and organization for various calculations</li>
    </ul>
    </p>
    <p>
    <h2>v0.2.0</h2>
    <h3>Friday, May 13 2022</h3>
    <ul id="update-logger">
        <li class="feedback">Feedback requested: Tested (but didn't decide on) border styles for show page</li>
        <li class="redesign">Made series page functional</li>
        <br>
        <span style="font-weight: bold">Dev notes:</span> It's interesting how when things get summed up in a particular way, they can seem less intensive than they are.<br>
    For example, the process to make the series page functional involved writing multiple new (moderately large, as they
        <br> go) functions,
    re-writing even more (extremely large) functions, redesigning the layout of entire processes, adding a new <br>column to the database (which
    requires adjusting all code relating to said column, as well as updating the entire database), <br>and essentially making an entire massive endpoint
    work. All of that summed up in, "made series page functional."<br>
    <br>
    Of course, what everyone will comment on is, "oh, it looks different!" (~3 lines of code changed.)
    </ul>
    <br>
    <h3>Thursday, May 12 2022</h3>
    <ul id="update-logger">
        <li class="addition">Added update tracker</li>
        <li class="addition">Added users list page</li>
        <li class="redesign">Altered show page layout</li>
        <li class="redesign">Cleaned up show generation code</li>
        <li class="admin">Removed two unused admin pages</li>
    </ul>
    </p>
</main>
{% endblock %}