{% extends "general/templates/general/base.html" %}

{% block content %}
<main>
    <div>
        {% for feedback_item in feedback_list %}
        <div style="width: 64em; display: inline-block">
            <div style="border-style: solid; border-bottom-style: none">User: {{ feedback_item["user"] }}</div>
            <div style="border-style: solid; border-bottom-style: none; border-top-width: 1px;">Type: {{ feedback_item["type"] }}</div>
            <div style="border-style: solid; border-bottom-style: none; border-top-width: 1px;">Status: {{ feedback_item["status"] }}</div>
            <div style="border-style: solid; border-bottom-style: none; border-top-width: 1px;">Description:<br> {{ feedback_item["description"] }}</div>
            <div style="border-style: solid; border-top-width: 1px;">Dev Notes:<br> {{ feedback_item["note"] }}</div>
        </div>{% if current_user.admin %}
        <div style="display: inline-block">
            <form action="" method="POST">
                <select name="status-select" id="status-select" onchange="this.form.submit()">
                <option value="1">New Feedback</option>
                <option value="2">Planned</option>
                <option value="3">In Progress</option>
                <option value="4">Closed</option>
                </select>
                <input type="hidden" value="{{ feedback_item['id'] }}" name="feedback-id">
            </form>
            <form action="" method="POST">
                <textarea name="dev-note" id="dev-note" cols="25" rows="3"></textarea>
                <button type="submit">Add Note</button>
                <input type="hidden" value="{{ feedback_item['id'] }}" name="feedback-id">
            </form>
        </div>
            {% endif %}
            <br>
            <br>
        {% endfor %}
    </div>
</main>
{% endblock %}