{% extends "general/templates/general/base.html" %}

{% block content %}
<main>
    <div>
        {% for feedback_item in feedback_list %}
        <div>
            <div style="border-style: solid">User: {{ feedback_item["user"] }}</div>
            <br>
            <div style="border-style: solid">Type: {{ feedback_item["type"] }}</div>
            <br>
            <div style="border-style: solid">Status: {{ feedback_item["status"] }}</div>
            <br>
            <div style="border-style: solid">Description: {{ feedback_item["description"] }}</div>
            <br>
            <div style="border-style: solid">Dev Notes: {{ feedback_item["note"] }}</div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}