{% extends "general/templates/general/base.html" %}

{% block content %}
<h2>Welcome, {{name}}!</h2> <br>
<h3>Or Bob Ross, if that's who you are. Like, you can never be sure.</h3> <br>
<p>
  <ul>To add:
  <li>Add friends</li>
  <li>Edit names for shows</li>
  <li>Edit personal lists</li>
  <li>Give and receive recommendations (?)</li>
  <li>Set site preferences, like... Uh... TBD</li>
  <li>Edit personal tags for shows</li>
  <li>Compare shows/series</li>
  <li>Search for series based on set parameters</li>
  <li>Ranked list of shows/series highlighted by number of seasons, episodes, release season/year, etc.</li>
  <li>List of shows in a series on a graph showing rating, scales, etc.</li>
</ul>
</p>
    <div>
        <form action="" method="POST">
            <label for="names-preference">Title Language:
                <select name="names-preference" id="names-preference">
                    <option value="1" {% if current_user.names_preference == 1 %} selected {% endif %}>Japanese/Native</option>
                    <option value="2" {% if current_user.names_preference == 2 %} selected {% endif %}>Romaji</option>
                    <option value="3" {% if current_user.names_preference == 3 %} selected {% endif %}>English</option>
                </select>
            </label>
            <label for="spoiler-preference">By default, spoiler tags display:
                <select name="spoiler-preference" id="spoiler-preference">
                    <option value="1" {% if current_user.spoiler_preference == 1 %} selected {% endif %}>Never</option>
                    <option value="2" {% if current_user.spoiler_preference == 2 %} selected {% endif %}>On shows marked "seen"</option>
                    <option value="3" {% if current_user.spoiler_preference == 3 %} selected {% endif %}>Always</option>
                </select>
            </label>
            <button type="submit" name="set-preference" value="true">Set Preferences</button>
        </form>
    </div>
{% if current_user.admin %}
<p>
  <ul>To add (admin edition):
  <li>See the <a href="/administration">admin</a> page for more</li>
</ul>
    Also, what's up with that "energy" column? What about "intensity-subtlety", and/or "attention required?" How about "emotional-intellectual?"
    I think I can add back the timeline rating also, since you now rate a show rather than a series...
</p>
{% endif %}
{% endblock %}